numpy==2.0.2
pandas==2.2.3
seaborn==0.13.2
scikit-learn==1.5.2
datasets==3.0.1
pyclustering==0.10.1.2
Unidecode==1.3.8
umap-learn==0.5.7
kneed==0.8.5
wittgenstein==0.3.4
xgboost==2.1.3
imbalanced-learn==0.12.4
keras==3.7.0
keras-tuner==1.4.7
tensorflow==2.18.0
scikit-optimize==0.10.2
lime==0.2.0.1
interpret==0.6.8
XAI-Library==0.0.4
shap==0.46.0
pyclustering==0.10.1.2
# dice-ml==0.11
nbformat==5.10.4